{% extends 'layouts.html' %}
{% block title %}
    Profile Page
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center" style="padding-top:20px;">Profile Page</h1>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p>Name     : {{ name }}</p>
            <p>Email    : {{ email }}</p>
            <p>Phone No : {{ phone }}</p>
            <p>Age      : {{ age }}</p>
            <p>Address  : {{ address }}</p>

            <ul class="list">
                {% for emp_friends in friends_name %}
                <li class="list-item">{{ emp_friends }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}